.pictureGrill {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  .pictureBox {
    flex-basis: 30%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 1200px) {
    .pictureBox {
      flex-basis: 45%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .pictureBox {
      flex-basis: 90%;
    }
  }
  
  .pictureBox:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .picture {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .pictureName {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .unoederList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .listItem {
    font-size: 14px;
    margin-bottom: 5px;
  }
  